html, body {
    padding: 0;
    margin: 0;
}
button {
    height: 2em;
}
#app {
    display: flex;
    height: 100%;
}

/**
 * jsGallery specific
 */
.gFrame {
    position: relative;
    display: flex;
    flex: 1;
    background-repeat: no-repeat;
    user-select: none;
}
.gContainer {
    position: relative;
    display: flex;
    flex: 1;
    user-select: none;
}
.gContainer.gContainer-horizontal{
    flex-direction: row;
}
.gContainer.gContainer-vertical{
    flex-direction: column;
}
.gResizer {
    min-width: 5px;
    min-height: 5px;
    background-color: #999;
}
.gResizer.gResizer-alongHorizontal{
    cursor: col-resize;
}
.gResizer.gResizer-alongVertical{
    cursor: row-resize;
}
.gMenu2 {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(127, 127, 127, 0.5);
    cursor: move;
}
.gFrame:hover>.gMenu2 {
    visibility: visible;
}
.gMenuButton {
    cursor: pointer;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
}
.gMenuButton:hover {
    background-color: #fff;
}

/**
 * Following is for ping-pong score board
 */
.score {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40vh;
    user-select: none;
}

.round-bar {
    display: flex;
    flex-direction: row;
    height: 26px;
    padding: 15px;
    background-color: #fff;
    user-select: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 15px;
}
.round-bar-item {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    background-color: #333;
}

/**
 * For rune word search
 */
.rw-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.rw-search-result {
    flex: 1;
}
.rw-input-search {
    flex: 0;
    height: 2em;
}